.App {
  min-height: 100vh;

  height: fit-content;
  display: flex;
  flex-direction: column;
 
  text-align: left;
  overflow: hidden;
}

.AppHeader {
  height: 20vh;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  background-color: black;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 50px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;

  flex-wrap: wrap;
}

.AppBody {
  min-height: 80vh;

  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
   color: white;

}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  background: #f2f2f2;
  border-radius: 20px;
}
.form > input {
  height: 10px;
  border-radius: 20px;
}

.formField {
  margin: 10px 0 10px 0;
  min-width: 500px;
  padding: 15px;
  font-size: 16px;
  border: 0;
  font-family: "Roboto", sans-serif;
}
.form > label {
  background: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 1px solid white;
  border-radius: 10px;
}
.formButton {
  margin: 5px 0 5px 0;
  padding: 15px;
  font-size: 18px;
  border: 0;
  background: rgba(1, 206, 252, 01);
  color: black;
  cursor: pointer;
  border-radius: 20px;
  font-weight: 700;
}
